.card__button {
  display: inline-block;
  width: 100%;
  padding: 12px 0;
  background-color: $button-color;
  color: #fff;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  border-radius: 4px;
  border: 1px solid #00acdc;

  &:hover {
    background-color: #fff;
    color: $button-color;
  }
}
